header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  flex-basis: 3.3em;
  flex-shrink: 0;
  
  /*background-color: rgba(0, 110, 170, 0.5);*/
  background-color: rgba(108, 58, 0, 0.8);
}

.header-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 3.3em;
  flex-shrink: 0;

  
}

.logo-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  padding: 0.2em;
  
}

.logo img{
  height: 2.3em;
  padding-right: 0.2em;
}

.app-name{
  margin: 14px 0px 0px 0px;
  padding-right: 0.3em;
  font-size: 2.0em;
  text-transform: lowercase;
  letter-spacing: 2px;
  color: rgb(247, 226, 194);
}

.menu {
  padding-right: 0.2em;
  font-size: 2.2em;
  color: white;
}

.menu i:hover {
  cursor: pointer;
}

.dropdown-menu{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.close-menu{
  width: 8em;
  background-color: rgba(240, 240, 240, 0.9);
  text-align: right; 
  color: black;
  font-size: 1.5em;
}
.menu-list{
  width: 12em;
  padding:0px;
  margin: 0px;
}

.menu-item{
  text-align: right;
  list-style-type: none;
  text-decoration: none;
  
  background-color: rgba(240, 240, 240, 0.9);
  
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #969696;
}

.menu-item:hover{
  background-color: rgba(175, 150, 50, 0.9);
}

.menu-item a{
  text-decoration: none;
  color: #000000;
  font-family: SourceCodePro;
  text-transform: uppercase;
  font-size: 1.5em;
  padding-right: 4px;
}

.menu-first{
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #969696;
}

.menu-first:hover{
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: rgb(0, 110, 170);
}

.menu-second:hover{
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #ff5800;
}


@media (max-width: 470px){
  .logo-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .logo{
    padding: 0em;
  }
  
  .logo img{
    height: 1.7em;
    margin: 0px 0px 2px 2px;
  }
  
  .app-name{
    margin: 0px 0px 2px 2px;
    font-size: 1.0em;
  }
  
}