@font-face {
  font-family: 'SourceCodePro';
  src: url('../font/SourceCodePro-Regular.otf');
}

html{
  height:100%;
  width: 100%;
}

body{
  margin:0px;
  padding: 0px;
  height: 100%;
  
  font-family: SourceCodePro;
  font-size: 1.0em;
  
  background-image: url('../img/river2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  
  height: 100%;
  max-height: 58em;
  width: 100%;
  max-width: 55em;
}

main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  margin:0px;
  padding: 0px;
}

.container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  /*background-color: rgba(0, 110, 170, 0.5);*/
  background-color: rgba(110, 70, 30, 0.40);
}

#map{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.layer-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  background-color: rgba(175, 150, 50, 0.7);
  transition: background-color 0.4s linear; 
}

.show-layers{
  width: 3.2em;
}

.show-layers img{
  width:3.2em;
}

.layer-unfold{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  visibility: visible;
  width: 7em;
  opacity: 1;
  transition: width 0.4s, visibility 0.4s, opacity 0.8s linear; 
  
  font-size: 1.5em;
  font-family: SourceCodePro;
  text-transform: lowercase;
  color: black;
  
  
}

.layer-content{
  
  border-top: solid;
  border-top-width: 1px;
  border-top-color: black;
  
  background-color: rgba(175, 150, 50, 0.7);
  transition: background-color 0.4s linear;
  
  font-family: SourceCodePro;
  text-transform: lowercase;
}



.basins-spinner p{
  margin: 0px;
  color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.toggle-basins{
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: lowercase;
  align-content: center;
  
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.toggle-basins:hover{
  background-color: #454545;
  cursor: pointer;
}

.toggle-basins label:hover{
  cursor: pointer;
}




footer{
  flex-basis: 2.5em;
  flex-shrink: 0;
  
  /*background-color: rgba(3, 38, 57, 0.71);*/
  background-color: rgba(78, 39, 0, 0.81);
  
  color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.use-case, .use-case-descr{
  margin: 0px;
  padding: 0px;
}

.use-case-descr{
  font-size: 0.8em;
}

.esri-leaflet-logo, .leaflet-control-attribution{
  display: none;
}