@font-face {
  font-family: 'SourceCodePro';
  src: url('../font/SourceCodePro-Regular.otf');
}

html{
  height:100%;
  width: 100%;
}

body{
  margin:0px;
  padding: 0px;
  height: 100%;
  
  font-family: SourceCodePro;
  font-size: 1.0em;
  
  background-image: url('../img/river2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  
  height: 100%;
  max-height: 58em;
  width: 100%;
  max-width: 55em;
}

main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  margin:0px;
  padding: 0px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  
  /*background-color: rgba(0, 110, 170, 0.5);*/
  background-color: rgba(110, 70, 30, 0.40);
}

#map{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

/* ***** styling for layers menu ***** */
.layer-container{
  background-color: rgba(175, 150, 50, 0.95);
  width: 14em;
  transition: width 0.6s, background-color 0.4s linear; 
}

.layer-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.show-layers{
  width: 3.0em;
}

.show-layers img{
  width:3.0em;
}

.layer-unfold{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 10em;
  
  visibility: visible;
  opacity: 1;
  transition: visibility 0.6s, opacity 0.4s linear; 
  
  font-size: 1.4em;
  font-family: SourceCodePro;
  text-transform: lowercase;
  color: black;

}

.layer-content{
  border-top: solid;
  border-top-width: 1px;
  border-top-color: rgba(90, 120, 135, 0.70);
  
  font-family: SourceCodePro;
  text-transform: lowercase;
  font-size: 1.0em;
  
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.3s linear;
}

.basins-spinner p{
  margin: 0px;
  color: black;
  
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(90, 120, 135, 0.70);
  
}

.toggle-basins{
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: lowercase;
  align-items: center;
  
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(90, 120, 135, 0.70);
}

.toggle-basins:hover{
  background-color: #aa6b07;
  cursor: pointer;
}

.toggle-basins label:hover{
  cursor: pointer;
}

/* ***** styling for save menu ***** */
.save-container{
  background-color: rgba(175, 150, 50, 0.95);
  width: 14em;
  transition: width 0.4s, background-color 0.2s linear; 
}

.save-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.show-save{
  width: 3.0em;
}

.show-save img{
  width: 3.0em;
}

.save-unfold{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 9em;
  
  visibility: visible;
  opacity: 1;
  transition: visibility 0.6s, opacity 0.4s linear; 
  
  font-size: 1.4em;
  font-family: SourceCodePro;
  text-transform: lowercase;
  color: black;

}

.save-content{
  border-top: solid;
  border-top-width: 1px;
  border-top-color: rgba(90, 120, 135, 0.70);
  
  font-family: SourceCodePro;
  text-transform: lowercase;
  font-size: 1.0em;
  
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.3s linear;
}

.save-dialog{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(90, 120, 135, 0.70);
}

.save-subid-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.save-dialog-subid{
  padding-right: 2em;
}

.save-as-excel{
  width: 100%;
  cursor: pointer;
}

.save-as-excel:hover {
  cursor: pointer;
  background-color: #aa6b07;
}

.save-as-excel i{
  margin-left: 0.2em;
  margin-right: 0.5em;
}

.save-excel-link{
  text-decoration: none;
  color: black;
}

/* ***** info box styling ***** */
.info-img img{
  width: 3.0em;
}

.info-content{
  
  visibility: hidden;
  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 0%;
  width: 100%;
  
  background-color: rgba(26, 24, 22, 0.68);
  color: white;
  
  transition: height 0.5s linear;
}

.info-close{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
  font-size: 2.5em;
  padding-right: 0.1em;
}

.info-page{
  margin: 0em 2.0em;
  overflow-y: auto;
}

.info-header{
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(100, 100, 100, 0.4); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(200, 200, 200, 0.7); 
}

scrollbar {
    width: 12px;
}
 
scrollbar-track {
    box-shadow: inset 0 0 6px rgba(100, 100, 100, 0.4); 
    border-radius: 10px;
}
 
scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(200, 200, 200, 0.7); 
}

/* ***** styling for footer ***** */
footer{
  flex-basis: 2.5em;
  flex-shrink: 0;
  
  /*background-color: rgba(3, 38, 57, 0.71);*/
  background-color: rgba(78, 39, 0, 0.81);
  
  color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.use-case, .use-case-descr{
  margin: 0px;
  padding: 0px;
}

.use-case-descr{
  font-size: 0.8em;
}

.esri-leaflet-logo, .leaflet-control-attribution{
  display: none;
}