@font-face {
  font-family: 'SourceCodePro';
  src: url('../font/SourceCodePro-Regular.otf');
}

html{
  height:100%;
  width: 100%;
}

body{
  margin:0px;
  padding: 0px;
  height: 100%;
  
  font-family: SourceCodePro;
  font-size: 1.0em;
  
  background-image: url('../img/river1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  
  height: 100%;
  max-height: 65em;
  width: 100%;
  max-width: 60em;
}

main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  margin:0px;
  padding: 0px;
}

.container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  background-color: rgba(0, 110, 168, 0.47);
}

#map{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

footer{
  flex-basis: 2.5em;
  flex-shrink: 0;
  
  background-color: rgb(255, 255, 255);
  color: rgb(65, 65, 65);
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.use-case, .use-case-descr{
  margin: 0px;
  padding: 0px;
}

.use-case-descr{
  font-size: 0.8em;
}
