
html body {
  width: 100%;
  height: 100%;
  margin:0px;
  padding:0px;
  
  background-image: url(img/isobar_white_portrait.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ebeae6;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
}
/* row 1 content ------------------------------------------------*/
#row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-box{
  width: 100%;
  height: 220px;
  background-image: url(img/river.jpg);
  background-size:cover;*/
}

.smhi-logo{
  margin:10px;
  padding: 10px;
  height: 80px;
}

.img-box p {
  margin: 0px;
  font-family: sans-serif;
  font-size: 40px;
  letter-spacing: 10px;
  color: white;
}

/* row 2 content -----------------------------------------------*/
#row2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
}

.map-box {
  width: 400px;
  height: 600px;
  /*margin: 10px 10px;*/
}

.map-box img {
  max-width:100%;
  max-height:100%;
}

/*menu-box styling ---------------------------------------------- */
.menu-box{
  width: 500px;
  margin: 10px 10px;
}

#nav-menu{
  display: flex;
  flex-direction: column;
  font-family: Futura, Arial ;
}

#nav-menu #menu-header{
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
  margin: 0px;
  padding: 7px 2px 7px 10px;
  font-size: 25px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 20;
  letter-spacing: 5px;
  background-color: #3b9cdf;
  color: whitesmoke;
  border-bottom: solid rgba(21, 110, 172, 0.71) 2px;
}

#nav-menu #menu-header:hover {
  cursor: pointer;
}

#menu-header i {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 27px;
  color: rgb(21, 110, 172); 
}

#nav-menu #menu-items {
  display: block;
  height: auto;
}

#menu-items .item {
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  margin: 0px;
  padding: 10px 15px;
  font-size: 15px;
  text-align: left;
  font-weight: 50;
  letter-spacing: 2px;
  background-color: rgb(59, 156, 223);
  color: whitesmoke;
  border-bottom: solid rgba(21, 110, 172, 0.31) 1px;
}

.item i{
  font-size: 17px;
  padding-right: 10px;
  color: rgb(21, 110, 172); 
}

#nav-menu .item:hover {
  background-color: rgb(100, 190, 252);
  font-size: 13px;
}

.long-text{
  display:none;
}

.item:hover .long-text {
    display: block;
}

.item:hover .short-text {
    display: none;
}
/*info-box styling ---------------------------------------------- */

.info-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  /*margin: 10px 10px;*/
  /*background-color: black;*/
  color: whitesmoke;
  /*background-image: url(img/isobar_liggande_svart.svg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: left;
  */
}

/* typ Iphone */
@media (min-width: 300px) and (max-width: 980px) {
  
  #container{
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  } 
  
  #col1{
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  
  #col2{
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  
  .menu-box{
    width: 100%;
    height: auto;
    margin: 0px 0px;
  }
  
  #nav-menu #menu-items {
    display: none;
  }
  
  .img-box{
    display: none;
    margin: 0px 0px;
  }
  
  .map-box{
    width: 100%;
    height: 1000px;
    margin: 0px 0px;
  }
  
  .info-box{
    width: 100%;
    height: 580px;
    margin: 0px 0px;
  }
}

/*

#col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-left: 15px;
}

#col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-right: 15px;
}


@media (max-height: 950px) {
   body{
    background-image: url(img/river.jpg);
    background-position: bottom;
    background-size: cover;
  }
  
  #container{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0px;
  } 
  
  #col1{
    display: flex;
    flex-direction: column;
  }
  
  #col2{
    display: flex;
    flex-direction: column;
  }
  
  .menu-box{
    width: 100%;
    height: auto;
    margin: 0px 0px;
  }
  
  #nav-menu #menu-items {
    display: none;
  }
  
  .img-box{
    display: none;
    margin: 0px 0px;
  }
  
  .map-box{
    width: 100%;
    height: 600px;
    margin: 0px 0px;
  }
  
  .info-box{
    width: 100%;
    height: 380px;
    margin: 0px 0px;
  }
}

/*
@media (max-height: 800px) {
  .box{
    width: 360px;
    height: 360px;
  }
}

@media (max-height: 600px) {
  #container{
    width:100%;
    padding: 0;
  } 
  
  #row1{
    width:100%;
    flex-direction: column-reverse;
  }
  
  #row2{
    width:100%;
    flex-direction: column;
  }
  
  .box{
    width: 100%;
    height: 480px;
  }
  
  #start-map{
    height:  400px;
  }
  
  #menu{
    height:  50px;
  }
}

*/