@font-face {
  font-family: 'SourceCodePro';
  src: url('../font/SourceCodePro-Regular.otf');
}

html{
  height:100%;
  width: 100%;
}

body{
  margin:0px;
  padding: 0px;
  height: 100%;
  
  font-family: SourceCodePro;
  font-size: 1.0em;
  
  background-image: url('../img/river3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  
  height: 100%;
  max-height: 58em;
  width: 100%;
  max-width: 55em;
}

main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  margin:0px;
  padding: 0px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  
  /*background-color: rgba(0, 110, 170, 0.5);*/
  background-color: rgba(110, 70, 30, 0.40);
}

#map{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  
  background-color: rgba(255, 255, 255, 0.5);
}

/* ***** styling for footer ***** */
footer{
  flex-basis: 2.5em;
  flex-shrink: 0;
  
  /*background-color: rgba(3, 38, 57, 0.71);*/
  background-color: rgba(78, 39, 0, 0.81);
  
  color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.use-case, .use-case-descr{
  margin: 0px;
  padding: 0px;
}

.use-case-descr{
  font-size: 0.8em;
}

.esri-leaflet-logo, .leaflet-control-attribution{
  display: none;
}