html, body { width: 100%; height: 100%; margin: 0; }

body{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #969696;
  color: #404d5b;
}

.save-as {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: left;
  
  width: 250px;
  height: 250px;
  padding: 7px;
  background-color: azure;
}

.input-field{
  font-size: 26px;
  border: 3px solid green;
  background-color: transparent;
  transition: border 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
}

.input-label{
  color: azure;
  transition: background-color 0.5s ease
}

.input-field:valid{
  background-color: white;
  border: 3px solid red;
}

.input-field:valid + .input-label{
  width: 40%;
  background-color: red;
  color: white;
  text-transform: uppercase;
}
