.material-icons {
  font-size: 36px;
}

#nav-menu a {
  text-decoration: none;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  
  font-size: 24px;
  font-family: Verdana;
  color: rgba(255, 255, 255, 0.9);
}
