.material-icons {
  font-size: 36px;
}

#nav-menu a {
  text-decoration: none;
  /*height: 50px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  
  font-size: 36px;
  font-family: Calibri;
  color: rgba(208, 208, 208, 0.9);
}

#nav-menu i:hover{
  color: rgba(0, 0, 0, 0.9);
  background-color: gray;
  font-size: 40px;
}


