#nav-menu{
  display: flex;
  flex-direction: column;
  font-family: lato, verdana;
}

#nav-menu p{
  vertical-align: middle;
  margin: 0px;
  padding: 10px 1px 10px 10px;
  font-size: 20px;
  text-align: left;
  text-transform: capitalize;
  font-weight: 30;
  letter-spacing: 3px;
  color: white;
  border-bottom: solid #4097ce 1px;
}

#nav-menu i {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 27px;
}

#nav-menu .button {
  text-decoration: none;
  margin: 0px;
  padding: 5px 10px;
  font-size: 15px;
  text-align: left;
  text-transform: capitalize;
  font-weight: 50;
  letter-spacing: 2px;
  color: white;
  border-bottom: solid #4097ce 1px;
}

