
html body {
  width: 100%;
  height: 100%;
  margin:0px;
  padding:0px;
  background-image: url(img/isobar.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ebeae6;
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width:100%;
  padding-top: 30px;
}

#col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

#col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.map-box{
  width: 400px;
  height: 540px;
  margin: 5px 5px;
}


/*menu-box styling ---------------------------------------------- */
.menu-box{
  width: 500px;
  margin: 5px 5px;
}

#nav-menu{
  display: flex;
  flex-direction: column;
  font-family: Futura, Arial ;
}

#nav-menu #menu-header{
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
  margin: 0px;
  padding: 7px 2px 7px 10px;
  font-size: 25px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 20;
  letter-spacing: 5px;
  background-color: #3b9cdf;
  color: whitesmoke;
  border-bottom: solid rgba(21, 110, 172, 0.71) 2px;
}

#nav-menu #menu-header:hover {
  cursor: pointer;
}

#menu-header i {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 27px;
}

#nav-menu #menu-items {
  display: block;
  height: auto;
}

#menu-items .item {
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  margin: 0px;
  padding: 10px 15px;
  font-size: 15px;
  text-align: left;
  font-weight: 50;
  letter-spacing: 2px;
  background-color: rgb(59, 156, 223);
  color: whitesmoke;
  border-bottom: solid rgba(21, 110, 172, 0.31) 1px;
}

.item i{
  font-size: 17px;
  padding-right: 10px;
}

#nav-menu .item:hover {
  background-color: rgb(100, 190, 252);
  font-size: 13px;
}

.long-text{
  display:none;
}

.item:hover .long-text {
    display: block;
}

.item:hover .short-text {
    display: none;
}

/*info-box styling ---------------------------------------------- */

.info-box{
  width: 400px;
  height: 320px;
  margin: 15px 15px;
  background-color: black;
  color: whitesmoke;
  background-image: url(img/isobar_liggande_svart.svg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: left;
}

.smhi-logo {
  margin:0px;
  padding: 0px;
}

.smhi-logo img{
  margin:5px;
  padding: 5px;
  height: 55px;
}

/*img-box styling ---------------------------------------------- */
.img-box{
  width: 500px;
  height: 280px;
  margin: 15px 15px;
  background-image: url(img/river.jpg);
  background-size: cover;
}

/* typ Iphone */
@media (min-width: 800px) and (max-width: 980px) and (min-height: 1500px) {
  
  body{
    background-image: url(img/river.jpg);
    background-position: bottom;
    background-size: cover;
  }
  
  #container{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0px;
    height: 100px;
  } 
  
  #col1{
    display: flex;
    flex-direction: column;
  }
  
  #col2{
    display: flex;
    flex-direction: column;
  }
  
  .menu-box{
    width: 100%;
    height: auto;
    margin: 0px 0px;
  }
  
  #nav-menu #menu-items {
    display: none;
  }
  
  .img-box{
    display: none;
    margin: 0px 0px;
  }
  
  .map-box{
    width: 100%;
    height: 800px;
    margin: 0px 0px;
  }
  
  .info-box{
    width: 100%;
    height: 380px;
    margin: 0px 0px;
  }
}

/* typ Iphone's  portrait */
@media (max-width: 800px)  and (max-height: 1100px){
    
  #container{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0px;
  } 
  
  #col1{
    display: flex;
    flex-direction: column;
  }
  
  #col2{
    display: flex;
    flex-direction: column;
  }
  
  .menu-box{
    width: 100%;
    height: auto;
    margin: 0px 0px;
  }
  
  #nav-menu #menu-items {
    display: none;
  }
  
  .img-box{
    display: none;
    margin: 0px 0px;
  }
  
  .map-box{
    width: 100%;
    height: 500px;
    margin: 0px 0px;
  }
  
  .info-box{
    width: 100%;
    height: 380px;
    margin: 0px 0px;
  }
}

/*
@media (max-height: 950px) {
   body{
    background-image: url(img/river.jpg);
    background-position: bottom;
    background-size: cover;
  }
  
  #container{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0px;
  } 
  
  #col1{
    display: flex;
    flex-direction: column;
  }
  
  #col2{
    display: flex;
    flex-direction: column;
  }
  
  .menu-box{
    width: 100%;
    height: auto;
    margin: 0px 0px;
  }
  
  #nav-menu #menu-items {
    display: none;
  }
  
  .img-box{
    display: none;
    margin: 0px 0px;
  }
  
  .map-box{
    width: 100%;
    height: 600px;
    margin: 0px 0px;
  }
  
  .info-box{
    width: 100%;
    height: 380px;
    margin: 0px 0px;
  }
}

/*
@media (max-height: 800px) {
  .box{
    width: 360px;
    height: 360px;
  }
}

@media (max-height: 600px) {
  #container{
    width:100%;
    padding: 0;
  } 
  
  #row1{
    width:100%;
    flex-direction: column-reverse;
  }
  
  #row2{
    width:100%;
    flex-direction: column;
  }
  
  .box{
    width: 100%;
    height: 480px;
  }
  
  #start-map{
    height:  400px;
  }
  
  #menu{
    height:  50px;
  }
}

*/