
html body {
  /*
  background-image: url(../img/river.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  width: 100%;
  height: 100%;
  margin:0px;
  padding:0px;
  background-color: white
}

#container{
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width:100%;
  padding: 1em 0 1em 0;
}

#row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box{
  width: 480px;
  height: 480px;
}

.map-box{
  /*
  background-image: url(img/map.png);
  background-size: cover;
  */
}

.text-box{
  background-color: black;
  color: slategray;
}

.img-box{
  background-image: url(img/river.jpg);
  background-size: cover;
}


@media (min-width: 800px) and (max-width: 980px) {
  #container{
    width:100%;
    padding: 0;
  } 
  
  #row1{
    width:100%;
    flex-direction: column-reverse;
  }
  
  #row2{
    width:100%;
    flex-direction: column;
  }
  
  .box{
    width: 100%;
    height: 480px;
  }
  
  #start-map{
    height:  800px;
  }
  
  #menu{
    height:  50px;
  }
}

@media (max-width: 800px) {
  #container{
    width:100%;
    padding: 0;
  } 
  
  #row1{
    width:100%;
    flex-direction: column-reverse;
  }
  
  #row2{
    width:100%;
    flex-direction: column;
  }
  
  .box{
    width: 100%;
    height: 480px;
  }
  
  #start-map{
    height:  600px;
  }
  
  #menu{
    height:  50px;
  }
  
}


@media (max-height: 900px) {
  .box{
    width: 400px;
    height: 400px;
  }
}

@media (max-height: 800px) {
  .box{
    width: 360px;
    height: 360px;
  }
}

@media (max-height: 600px) {
  #container{
    width:100%;
    padding: 0;
  } 
  
  #row1{
    width:100%;
    flex-direction: column-reverse;
  }
  
  #row2{
    width:100%;
    flex-direction: column;
  }
  
  .box{
    width: 100%;
    height: 480px;
  }
  
  #start-map{
    height:  400px;
  }
  
  #menu{
    height:  50px;
  }
}

